@font-face {
    font-family: 'Coolvetica';
    src: url("../assets/fonts/Coolvetica-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --backgroundColorHeader: rgb(251, 247, 243);
    --sidebarColorFont: rgb(27, 14, 1);
    --backgroundColorInput: rgba(168, 147, 124, 0.764);
    --generalColorFont: rgba(35, 33, 32, 0.987) ;
    --backgroundColorAside: #fdd5bd;
    --backgroundColorMain: rgba(191, 146, 122, 0.586);
    --backgroundColorArticle: rgb(251, 239, 224);
    font-family: 'Coolvetica', sans-serif;
    letter-spacing: calc(0.1rem - 1px);
}

*, *::before, *::after {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

input, button {
    font: inherit;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    color: var(--generalColorFont);
}

/* ---------- */
/* Header elements */

header {
    background-color: var(--backgroundColorHeader);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    box-shadow: 5px 1px 8px rgb(34, 32, 32);
}

header button {
    background-color: var(--backgroundColorAside);
    border: none;
    border-radius: 15px;
    padding: 5px 18px;
    color: var(--sidebarColorFont);
    font-weight: bold;
}

header > div.searchBarDiv {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

header > div.profileWidget {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.profileWidget img.adminPic {
    width: 3vw;
    height: 4vh;
    border-radius: 10px 100px / 120px;
}

header > div.userInfo {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-bottom: 2px;
}

header > div.searchBarDiv {
    padding-left: 1vw;
}

header svg {
    color: var(--sidebarColorFont);
}

header > div.searchBarDiv > input {
    width: 30vw;
    margin-left: calc(1vh - 2px);
    border-radius: 10px;
    border: none;
    background-color: var(--backgroundColorInput);
}

header > div.searchBarDiv > input:focus {
    border: var(--backgroundColorAside) 2px solid;
    outline: var(--backgroundColorAside);
}

.userInfo img.adminPic {
    margin-left: 1.5vw;
    width: calc(4vw - 5px);
    height: 6vh;
    border-radius: 10px 100px / 120px;
}

header > div.userInfo > div.welcomeMessage {
    display: flex;
    align-items: center;
    gap: 1vw;
}

header p {
    font-weight: bold;
}

div.welcomeMessage > div.adminWelcome > p:last-child {
    font-size: 1.5rem;
}

header > div.userInfo > div.btnSection {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    gap: 5%;
}


/* ---------- */
/* Sidebar elements */

aside {
    background-color: var(--backgroundColorAside);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 12fr;
    gap: 5vh;
    color: var(--sidebarColorFont);
}

aside > .sidebarTitle {
    grid-row: 1 / 2;
    font-size: 2rem;
    display: flex;
    padding-left: 3vh;
    padding-top: 1vh;
    font-weight: bold;
    gap: 5px;
}

aside > .sidebarWidgets {
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 8vh;
    padding-left: 3vh;
    font-weight: bold;
    font-size: 1.1rem;
}

.mainSidebarWidgets > .mainWidgetsDiv > p:hover, .lesserSidebarWidgets > div > p:hover {
    font-size: calc(1.3rem - 1px);
}

.sidebarWidgets > .mainSidebarWidgets {
    display: flex;
    flex-direction: column;
    gap: 1vh
}

.mainSidebarWidgets > .mainWidgetsDiv {
    gap: 1vw;
}

.sidebarWidgets .lesserSidebarWidgets {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.lesserSidebarWidgets > .lesserWidgetsDiv {
    gap: 1vw;
}

.sidebarWidgets > .mainSidebarWidgets > div, .lesserSidebarWidgets > div {
    display: flex;
}

.sidebarWidgets > .changeThemeBtn > button {
    margin-left: 2vw;
    background-color: var(--backgroundColorInput);
    border: none;
    padding: 5px 11px;
    border-radius: 14px;
}

.sidebarWidgets > .changeThemeBtn > button:hover {
    background-color: rgb(255, 98, 0);
    border: 2px dashed rgb(255, 196, 0);
}

/* ---------- */
/* Main elements */

main {
    background-color: var(--backgroundColorMain);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 16fr
}

main > p:first-child {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    padding-left: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
}

main > p.annoucementsTitle {
    grid-row: 1 / 2 ;
    grid-column: 2 / 3;
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 3vw;
}

main > div.projectsDiv {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10%, 30%));
    gap: 2vh;
    padding-left: 2vw;
}

div.projectsDiv .articleCard {
    height: 25vh;
    width: 26vw;
    background-color: var(--backgroundColorArticle);
    color: var(--articleColorFont);
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 3vh;
    border-radius: 12px;
    border-left: var(--backgroundColorAside) 8px solid;
    box-shadow: 0px 3px 6px var(--generalColorFont);
}

.articleCard > div.textualDiv {
    padding-left: 3vw; /* Provisional solution to being unable to center with flex box */
    overflow: hidden;
}

div.textualDiv > p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.articleCard > .logosDiv {
    padding-left: 16vw;
    display: flex;
    gap: 1vw;
}

main > .annSection {
    grid-column: 2 / 3 ;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1.2fr 2fr;
    gap: 10vh;
}

.annSection > .annDiv {
    justify-self: center;
    font-size: calc(1rem - 3px);
    width: 22vw;
    height: 30vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--backgroundColorArticle);
    gap: 1vh;
    box-shadow: 0px 3px 6px var(--generalColorFont);
}

.annDiv .announceTitle {
    font-size: 1rem;
    font-weight: bold;
}

.annDiv > div {
    width: 80%;
    height: 9vh;
    align-self: center;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.annDiv > div:last-child {
    border-bottom: none;
}

.annSection > .trendingDiv {
    height: 40vh;
    width: 22vw;
    justify-self: center;

}

.trendingTitle {
    padding-bottom: 1vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.trendingDiv > .trendingCard {
    height: 33vh;
    width: 22vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--backgroundColorArticle);
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px var(--sidebarColorFont);
}

.trendingCard > div {
    display: flex;
    gap: 20px;
}