:root {
    --backgroundColorHeader: ;
    --backgroundColorAside: ;
    --leftBorderColorArticle: ;
    --backgroundColorArticle: ;
}

*, *::before, *::after {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

input, button {
    font: inherit;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr;
}

header {
    background-color: aquamarine;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

/* Header grid elemments*/

header > div.searchBarDiv {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

header > div.profileWidget {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
}

header > div.userInfo {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

header > div.searchBarDiv > input {
    width: 68%;
}

header > div.userInfo > div.welcomeMessage {
    display: flex;
    align-items: center;
}

div.welcomeMessage > div.adminWelcome > p:last-child {
    font-size: 1.5rem;
}

header > div.userInfo > div.btnSection {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    gap: 5%;
}

/* ---------- */


aside {
    background-color: palevioletred;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    display: grid;
}

main {
    background-color: beige;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
}
